doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    block content