body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height:100%
  width:100%
  margin:0
  padding:0
#map-canvas
  height: 100%
  margin: 0px
  padding: 0px
a
  color: #00B7FF
.addCommentForm
    width 450px
  input[type =text]
    width 200px
    margin-left 38px
  textarea
    width 200px
    margin-left 10px
  input[type =button], input[type =submit]
    clear both
    margin-left 85px
    display block
  .label
      text-align right !important
      display block
      float left
#comments
  .name
    float left
  .created_at
    float right
  .content
    clear both